.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration-line: none;
  color: #ffffff;
  margin-left: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media screen and (max-width: 450px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}
