.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 48px;
  padding: 0;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
  }
}

@media screen and (max-width: 630px) {
  .place__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 370px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    max-width: 288px;
  }
}
