.page {
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 24px;
    font-family: 'Inter', Arial, sans-serif;
    background: #2A2C2F;
}

@media screen and (max-width: 450px) {
    .page {
        padding-top: 16px;
    }
}