@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    row-gap: 16px;
    margin: 92px 48px 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-column-gap: 14px;
        -moz-column-gap: 14px;
        column-gap: 14px;
        row-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 88px 24px 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -webkit-column-gap: 12px;
        -moz-column-gap: 12px;
        column-gap: 12px;
        margin: 64px 16px 64px;
    }
}