.place__image {
  max-width: 460px;
  margin: auto;
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    margin: auto;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    margin: auto;
    margin-top: 0;
  }
}

@media screen and (max-width: 630px) {
  .place__image {
    max-width: 320px;
    margin-left: 0;
  }
}

@media screen and (max-width: 370px) {
  .place__image {
    max-width: 320;
    margin: auto;
  }
}
