.place__paragraphs {
    margin: 0 0 0 40px;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        margin:  0 0 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        margin: 0 0 0 28px;
    }
}

@media screen and (max-width: 630px) {
    .place__paragraphs {
        margin: 32px 0 0;
    }
}

@media screen and (max-width: 370px) {
    .place__paragraphs {
        margin: 32px 16px 0;
    }
}