.place__paragraphs {
    margin-left: 40px;
    margin-right: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        margin-left:  32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        margin-left:  28px;
    }
}

@media screen and (max-width: 630px) {
    .place__paragraphs {
        margin-top: 32px;
        margin-left: 0;
    }
}

@media screen and (max-width: 374px) {
    .place__paragraph {
        margin: 0 16px 0;
    }
}