.lead__title {
    max-width: 720px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: white;
    margin-bottom: 32px;
}


@media screen and (max-width: 730px) 
and (min-width: 461px) {
    .lead__title {
        max-width: 450px;
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 460px) 
and (min-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
