.place__paragraph {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
