.place__website-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.place__website-link:hover {
  opacity: 0.8;
}
