.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 0;
  max-width: 165px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
